* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Lato", sans-serif; */
    font-family: "Poppins", sans-serif;
}

.principal {
    padding-left: 35px;
    display: inline-block;
    width: 500px;
}

#logo {
    width: 55px;
    background-color: #FF8C00;
    border-radius: 15px;
    margin-top: 27px;

}

h2 {
    font-size: 37px;
    width: 27vw;
    line-height: 58px;
    color: rgb(28, 28, 28, 0.8);
    margin-top: 26px;
    font-weight: 900;
}

.paragraphInitial {
    font-size: 15px;
    width: 33vw;
    line-height: 35px;
    letter-spacing: 1px;
    font-weight: 600;
    color: rgb(28, 28, 28, 0.5);
    margin-top: 20px;
}

.select {
    margin-top: 30px;
}

h4 {
    font-size: 23px;
    color: #696969;
    font-weight: 700;
}

.animals {
    width: 55px;
    margin: 18px 25px 10px 0;
    border-radius: 15px;
    cursor: grab;
}

.search {
    background-color: rgb(192, 192, 192);
    width: 452px;
    height: 45px;
    border-radius: 24px;
    margin-top: 20px;
}

input {
    border: none;
    height: 40px;
    font-size: 14px;
    text-align: center;
    background-color: transparent;
    margin-left: 2px;
    width: 166px;
    border-radius: 20px;
}

.placeholder::placeholder {
    color: black;
}

.dropOff:focus {
    outline: none;
    background-color: #B0C4DE;
}

.pickUp:focus {
    outline: none;
    background-color: rgb(233, 18, 18, 0.5);
}

button {
    width: 91px;
    height: 44px;
    border: none;
    border-radius: 20px;
    background-color: rgb(0, 255, 0, 0.8);
    font-size: 12px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    margin-left: 15px;
}

button:hover {
    opacity: 0.8;
}

button:active {
    background-color: #008000;
    color: #F5DEB3;
    opacity: 1;
}

#seccoundMain {
    display: inline-block;
    background-color: #F08080;
    height: 90%;
    position: absolute;
    right: 80px;
    top: 15px;
    width: 600px;
    border-radius: 58px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

a {
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    margin-right: 30px;
    color: white;
    font-weight: 500;
}

a:hover {
    text-decoration: 3px underline ;
    transition: text-decoration-color 2s;
    text-decoration-color: rgba(255,165,0);
    text-decoration-style: wavy;
    cursor: grab;
}

.imageMain {
    width: 300px;
    border-bottom-left-radius: 58px;
    margin-top: 16px;
}